@import "../../variables";

#amount {
  width: fit-content;
  height: fit-content;

  padding: 3rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;

  background-color: $lightAccent;

  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}