$background: #F5F3EF;
$lightAccent: #7CA4CC;
$main: #672CE2;
$mainHover: #4516A7;
$text: #FFFFFF;
$darkAccent: #7B7298;
$darkBackground: #23283E;
$darkText: #000000;
$placeholder: #808080;
$error: #d63a3a;