@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "variables";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font: 10px "Roboto", serif;
  color: $text;
}

body {
  background-color: $background;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

p, label, input, .btn {
  font-size: 1.4rem;
  font-weight: 400;
}

input {
  min-width: 20rem;
  width: fit-content;

  padding: .7rem 1rem;

  background-color: $background;
  color: $darkText;

  outline: none;
  border: .2rem solid $background;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;

  transition: border-color .5s ease;

  &:focus {
    border-color: $main;
  }

  &::placeholder {
    color: $placeholder;
  }
}

main {
  width: 80%;
  margin: 0 auto;
}

.mb-5 {
  margin-bottom: 5rem;
}

.input-container {
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;
}

.error {
  color: $error;
  font-size: 1.3rem;
  font-weight: 500;
  opacity: 0;
  transition: opacity .3s ease;

  &.visible {
    opacity: 1;
  }
}

.payment-and-amount {
  display: flex;
  gap: 5rem;
}